/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f8ff; 
    color: #333;
} */

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 28px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.header-left h1 {
    margin: 0;
}

.customer-info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #e8f5e9;
    /* Light green background */
    padding: 20px;
    border-radius: 10px;
}

.customer-info div {
    margin-bottom: 10px;
}



.print_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.print_table th,
.print_table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.print_table th {
    background-color: #4CAF50;
    /* Green header */
    color: white;
}

.print_table tr:nth-child(even) {
    background-color: #f2f2f2;
}




.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;
}

.summary-item {
    flex: 1;
    min-width: 120px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 5px;
    background-color: #e8f5e9;
    /* Light green background */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.summary-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-detail {
    margin-top: 25px;
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 10px;
    background-color: #f1f8e9;
    /* Very light green background */
}

.qr-code {
    text-align: center;
    margin-top: 20px;
}

.green-text {
    color: #4CAF50;
}

.red-text {
    color: #f44336;
}

.blue-text {
    color: #2196F3;
}

.btn-print-download {
    height: 36px;
    margin-top: 20px;
    padding: 0px 26px;
    border-radius: 10px 10px;
    background: #4CAF50;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    border: none;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out;
}